body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
    padding: 30px;
}

h1, h2, h3 {
    color: #333;
}

input, button, select {
    padding: 12px;
    margin: 10px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

#reader {
    margin: auto;
}

#attendanceList {
    margin-top: 20px;
}

.circle-container {

    display: flex;

    flex-direction: column;

    align-items: center;

    margin-top: 30px;

}

.attendance-heading {

    margin-bottom: 15px;

    font-size: 28px;

    color: #333;

}

.circle-chart {

    position: relative;

    width: 180px;

    height: 180px;

}

.circle-chart svg {

    transform: rotate(0deg);

}

#circleText {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 26px;

    font-weight: bold;

    color: #333;

}

#progressCircle {

    transition: stroke-dashoffset 1s ease;

}